<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="border-right sidebarColor" id="sidebar-wrapper">
    <div class="sidebar-heading"><strong>CATEGORIAS</strong></div>
    <div class="list-group list-group-flush">
      <a
        (click)="clickAddTodo(category.id)"
        class="list-group-item list-group-item-action sidebarColor h6"
        style="cursor: pointer"
        *ngFor="let category of categories"
        >{{ category.name }}</a
      >
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar d-block d-md-none navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle">
        <i class="fas fa-outdent"></i>
      </button>

      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div> -->
    </nav>

    <div *ngIf="menu == 0" class="container-fluid">
      <img
        src="../../../assets/fondoArticulos2.jpg"
        class="img-fluid"
        style="width: 90%"
        alt="..."
      />
    </div>
    <div *ngIf="menu == 1" class="container mt-5">
      <div class="row">
        <div class="col-12 col-lg-4 col-xl-6" *ngFor="let art of articulos">
          <div class="card-deck">
            <div class="card" style="width: 18em">
              <img
                class="card-img-top"
                src="{{ url + 'articulos/image/' + art.image }}"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">{{ art.title }}</h5>
                <p class="card-text">{{ art.content }}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  Tienda: <strong>{{ art.tiendas.name }}</strong>
                </li>
              </ul>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Reservar</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- /#page-content-wrapper -->
    </div>
  </div>
</div>
