<div class="d-flex" id="wrapper" >

  <!-- Sidebar -->
  <div class=" border-right sidebarColor" id="sidebar-wrapper"  >
    <div class="sidebar-heading"><strong>CATEGORIAS</strong>  </div>
    <div class="list-group list-group-flush" >
      <a class="list-group-item list-group-item-action sidebarColor h6">DEPORTES</a>
      <a class="list-group-item list-group-item-action sidebarColor h6">DISFRACES</a>
      <a class="list-group-item list-group-item-action sidebarColor h6">ELECTRICOS</a>
      <a class="list-group-item list-group-item-action sidebarColor h6">HERRAMIENTAS</a>
      <a class="list-group-item list-group-item-action sidebarColor h6">JUGUETES</a>
      <a class="list-group-item list-group-item-action sidebarColor h6">ROPA</a>
      <a class="list-group-item list-group-item-action sidebarColor h6">TECNOLOGIA</a>
      <a class="list-group-item list-group-item-action sidebarColor h6">VEHICULOS</a>
      <a class="list-group-item list-group-item-action sidebarColor h6">VIVIENDA</a>
      <a class="list-group-item list-group-item-action sidebarColor h6">VARIOS</a>


    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar  d-block d-md-none navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle"><i class="fas fa-outdent"></i></button>

      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div> -->
    </nav>

    <div class="container-fluid">
      <img
      src="../../../assets/fondoArticulos2.jpg"
      class="img-fluid" style="width: 90%;"
      alt="..."
    />
  </div>
  <!-- /#page-content-wrapper -->

</div>

