
<div class="container">
  <div class="row">
    <div class="col-12 mx-auto mt-5">
      <!-- <h1>{{ page_title }}</h1> -->

      <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input
              type="email"
              class="form-control"
              id="inputEmail4"
              placeholder="Ingresa tu email"
              #email="ngModel"
              [(ngModel)]="user.email"
              required
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              name="email"
            />
            <small
              *ngIf="!email.valid && email.touched"
              class="invalid-feedback d-block"
              >El email no es valido</small
            >
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input
              type="password"
              class="form-control"
              id="inputPassword4"
              placeholder="Ingresa tu Password"
              #password="ngModel"
              [(ngModel)]="user.password"
              required
              name="password"
            />
            <small
              *ngIf="!password.valid && password.touched"
              class="invalid-feedback d-block"
              >El password no es valido</small
            >
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="inputAddress"
            placeholder="Ingresa tu Nombre"
            #name="ngModel"
            [(ngModel)]="user.name"
            required
            pattern="[a-zA-Z]+"
            name="name"
          />
          <small
            *ngIf="!name.valid && name.touched"
            class="invalid-feedback d-block"
            >El nombre no es valido</small
          >
        </div>

        <div class="form-group">
          <label for="inputAddress2">Apellidos</label>
          <input
            type="text"
            class="form-control"
            id="inputAddress2"
            placeholder="Ingresa tu Apellido"
            #surname="ngModel"
            [(ngModel)]="user.surname"
            required
            pattern="[a-zA-Z]+"
            name="surname"
          />
          <small
            *ngIf="!surname.valid && surname.touched"
            class="invalid-feedback d-block"
            >El apellido no es valido</small
          >
        </div>
        <div class="form-group">
          <label for="inputPhone">Telefono</label>
          <input
            type="text"
            class="form-control"
            id="inputPhone"
            placeholder="Ingresa tu Telefono"
            #phone="ngModel"
            [(ngModel)]="user.telefono"
            required
            pattern="[0-9]+"
            name="phone"
          />
          <small
            *ngIf="!phone.valid && phone.touched"
            class="invalid-feedback d-block"
            >El telefono no es valido</small
          >
        </div>
        <div class="form-group">

          <angular-file-uploader
            [config]="afuConfig1"
            (ApiResponse)="DocUpload1($event)"
          >
          </angular-file-uploader>
        </div>
        <div class="form-group">

          <angular-file-uploader
            [config]="afuConfig2"
            (ApiResponse)="DocUpload2($event)"
          >
          </angular-file-uploader>
        </div>

        <div class="form-group">

          <angular-file-uploader
            [config]="afuConfig3"
            (ApiResponse)="DocUpload3($event)"
          >
          </angular-file-uploader>
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="registerForm.invalid"
        >
          Registrarse
        </button>
      </form>
    </div>
  </div>
</div>

