<div class="container-fluid ">
  <div class="row">
    <div class="col-11 mt-5 ml-5 ">
      <p class="h4 text-primary" >
       Todos los artículos en general, los podrás rentar en cualquier tienda <span class="rosa">RENTODITO</span>, recuerda que todas las tiendas de nuestra comunidad se encuentran ubicadas en los lugares más estratégicos de las principales ciudades y poblaciones de los diferentes estados de la república mexicana.
        <br /> <br />
        Solo tienes que dar un “clic” en tiendas y se abrirá el menú de los estados donde ya tenemos alguna o varias tiendas <span class="rosa">RENTODITO</span>.

      </p>


    </div>
    <div class="row">
      <div class="col-12 col-sm-5 mt-5 ml-5">
        <img src="../../../assets/imagen20.png" class="img-fluid" alt="..." />
      </div>
    <div class="col-12 col-sm-5 ml-5 mt-5">
      <img src="../../../assets/Imagen24.jpg" class="img-fluid" alt="..." />
    </div>
  </div>
  </div>
</div>
