<div class="container-fluid ">
  <div class="row">
    <div class="col-12 mt-5 ml-5">
      <p class="h4 text-primary" >
        Si te interesa abrir una tienda <span class="rosa" >RENTODITO</span> en tu localidad, <br /><br />
        solo envíanos un correo electrónico y comunícanos tu
        interés, ahí te informaremos de todos los requisitos que
        debes cubrir...
<br /> <br />
      </p>
      <p class="h4 text-primary">...! Son pocos y fáciles de presentar!</p>
      <br /> <br />

    </div>
    <div class="row">
      <div class="col-12 col-sm-3 mt-5 ml-5">
        <a class="h4" href="mailto:contacto@rentodito.net"
        >contacto@rentodito.net</a
      >
      </div>
    <div class="col-12 col-sm-6 ml-5 mt-3">
      <img src="../../../assets/imagen20.png" class="img-fluid" alt="..." />
    </div>
  </div>
  </div>
</div>
