.fondoayuda{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(195,230,245,1) 9%, rgba(53,146,255,0.9335084375547094) 100%);
}

.azul{
  color: blue;
}
.rosa{
  color:#F052B8;
  font-weight: bold;
}
