<div class="bg-image">

  <div class="container">
    <div class="row">
      <div class="col-12 mt-5">
        <div class="row justify-content-center pl-5">
          <h1 class="text-primary">Hay tres formas de encontrar un artículo</h1>
        </div>


      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 mt-5 pl-5" id="help1">
        <span class="h5 text-primary">
          1 - Puedes registrar el artículo de tu interés directamente en la barra de búsqueda</span
        >
        <br />
        <br />
        <br />

        <span class="h5 text-primary">
       2- Dar click en artículos y elegir la categoría que le corresponda</span
        >
        <br />
        <br />
        <br />

        <span class="h5 text-primary">
      3- Ir a la sección de tiendas, elegir la de tu preferencia y abrir su catálogo</span
        >
        <br />
        <br />
        <br />


      </div>
      <span class="h5 text-primary  pl-5">* Si tu búsqueda es más especializada (producto o servicio), puedes abrir la opción "particulares".</span
        >
      </div>
  </div>
</div>


