<!-- <div class="container">
  <div class="row sticky">
    <div
      class="input-group col-3 offset-1 col-sm-5 offset-sm-4"
      style="margin-top: -10px"
    >
      <div class="input-group-prepend">
        <button class="btn btn-secondary" type="button" id="button-addon1">
          <i class="fas fa-search"></i>
        </button>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder=""
        aria-label="Example text with button addon"
        aria-describedby="button-addon1"
      />
    </div>
  </div>
</div> -->

<picture>

  <img class="d-none d-sm-block img-fluid  "     src="./assets/fondo1223.png"  >
      <img
        class="d-block d-sm-none img-fluid  mx-auto"

        src="./assets/fondo523.jpg"
      />
</picture>

<img class="img-fluid mt-5  mx-auto"   src="./assets/fondo6232.png" />
<img class="img-fluid mt-5" src="./assets/fondo4.png" />
<!-- <img
      src="./assets/fondo.jpeg"
      class="img-fluid mx-auto max-width: 100% height: 100%;"
      alt=""
    /> -->

<footer class="bg-dark text-white text-center text-lg-start mt-3">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">CONTACTANOS</h5>

        <p>
          E-Mail:
          <a href="mailto:contacto@rentodito.net"> contacto@rentodito.net</a>
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">WhatsApp</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="tel:+527411147284">741 114 7284</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">UBICACIÓN</h5>

        <ul class="list-unstyled">
          <div class="mapouter">
            <div class="gmap_canvas">
              <iframe
                class="gmap_iframe"
                width="100%"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
                src="https://maps.google.com/maps?width=400&amp;height=200&amp;hl=en&amp;q=Ciudad de Mexico&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
              ></iframe
              ><a href="https://piratebayproxy.net/">pirate bay proxy</a>
            </div>
            <style>
              .mapouter {
                position: relative;
                text-align: right;
                width: 100%;
                height: 200px;
              }
              .gmap_canvas {
                overflow: hidden;
                background: none !important;
                width: 100%;
                height: 200px;
              }
              .gmap_iframe {
                height: 200px !important;
              }
            </style>
          </div>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    Copyright © {{ year2 }} All rigths reserved | Web Page Made By
    <a class="text-white" href="mailto:wernerovalle1995@hotmail.com">Ing. Werner Ovalle</a>
  </div>
  <!-- Copyright -->
</footer>
