<div class="container-fluid">
  <div class="row">
    <div class="col-11 mt-5 ml-5">
      <p class="h4 text-primary">
        Todas las tiendas oficiales de <span class="rosa">RENTODITO</span> se
        ubican en las principales ciudades de algunos estados de la república
        mexicana, y están perfectamente identificadas con un anuncio frontal en
        la parte superior de cada local, tal y como se muestra en la imagen
        inferior; adicional a esto, la mayoría de las tiendas manejan algún otro
        giro de negocio donde podrás adquirir diversos productos. <br />
        <br />

        si quieres localizar la tienda <span class="rosa">RENTODITO</span> más
        cercana a tu domicilio, solo da un “clic” a la opción de “tiendas”.
      </p>
    </div>
    <div class="row">
      <div class="col-12 mt-5 ml-5">
        <img src="../../../assets/Imagen25.jpg" class="img-fluid" alt="..." />
      </div>
    </div>
  </div>
</div>
