<div class="container-fluid">
  <div class="row">
    <div class="col-11 mt-5 ml-5">
      <p class="h4 text-primary">
        Si te interesa ofrecer un bien material en renta (casa, automóvil,
        motocicleta, etc.) <br /><br />
        Si tienes un oficio (electricista, plomero, albañil, mecánico, etc.)<br /><br />
        Lo puedes publicar con nosotros como particular de forma sencilla y muy
        económica, solo envíanos un correo y te informaremos los detalles.<br /><br />

        <a class="h4" href="mailto:contacto@rentodito.net"
          >contacto@rentodito.net</a
        >
      </p>
    </div>
    <div class="row">
      <div class="col-12 mt-5 ml-5">
        <img src="../../../assets/Imagen26.jpg" class="img-fluid" alt="..." />
      </div>
    </div>
  </div>
</div>
